import request from '@/utils/request'
export function fetchList(params) {
    return request({
        url:'/${module}/${entity}/list',
        method:'get',
        params:params
    })
}
export function create${entity}(data) {
    return request({
        url:'/${module}/${entity}/create',
        method:'post',
        data:data
    })
}

export function delete${entity}(id) {
    return request({
        url:'/${module}/${entity}/delete/'+id,
        method:'get',
    })
}

export function get${entity}(id) {
    return request({
        url:'/${module}/${entity}/'+id,
        method:'get',
    })
}

export function update${entity}(id,data) {
    return request({
        url:'/${module}/${entity}/update/'+id,
        method:'post',
        data:data
    })
}

