<template> 
  <el-card class="form-container" shadow="never">
    <el-form :model="${entity}" :rules="rules" ref="${entity}From" label-width="150px">
        #foreach($field in ${table.fields})
      <el-form-item label="${field.comment}：" prop="${field.propertyName}">
        <el-input v-model="${entity}.${field.propertyName}"></el-input>
      </el-form-item>
#end
      <el-form-item>
        <el-button type="primary" @click="onSubmit('${entity}From')">提交</el-button>
        <el-button v-if="!isEdit" @click="resetForm('${entity}From')">重置</el-button>
      </el-form-item>
    </el-form>
  </el-card>
</template>
<script>
  import {create${entity}, get${entity}, update${entity}} from '@/api/${package.ModuleName}/${entity}'
  import SingleUpload from '@/components/Upload/singleUpload'
  import {formatDate} from '@/utils/date';
  const default${entity}={
    name: ''
  };
  export default {
    name: '${entity}Detail',
    components:{SingleUpload},
    props: {
      isEdit: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        ${entity}:Object.assign({}, default${entity}),
        rules: {
          name: [
            {required: true, message: '请输入品牌名称', trigger: 'blur'},
            {min: 2, max: 140, message: '长度在 2 到 140 个字符', trigger: 'blur'}
          ],
          logo: [
            {required: true, message: '请输入品牌logo', trigger: 'blur'}
          ],
          sort: [
            {type: 'number', message: '排序必须为数字'}
          ],
        }
      }
    },
    created() {
      if (this.isEdit) {
        get${entity}(this.$route.query.id).then(response => {
          this.${entity} = response.data;
        });
      }else{
        this.${entity} = Object.assign({},default${entity});
      }
    },
    methods: {
      onSubmit(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$confirm('是否提交数据', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              if (this.isEdit) {
                update${entity}(this.$route.query.id, this.${entity}).then(response => {
                    if(response.code==200){
                      this.$refs[formName].resetFields();
                      this.$message({
                          message: '修改成功',
                          type: 'success',
                          duration:1000
                      });
                      this.$router.back();
                  }else{
                      this.$message({
                          message: response.msg,
                          type: 'error',
                          duration:1000
                      });
                  }

                });
              } else {
                create${entity}(this.${entity}).then(response => {
                    if(response.code==200){
                      this.$refs[formName].resetFields();
                      this.${entity} = Object.assign({},default${entity});
                      this.$message({
                          message: '提交成功',
                          type: 'success',
                          duration:1000
                      });
                      this.$router.back();
                  }else{
                      this.$message({
                          message: response.msg,
                          type: 'error',
                          duration:1000
                      });
                  }

                });
              }
            });

          } else {
            this.$message({
              message: '验证失败',
              type: 'error',
              duration:1000
            });
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
        this.${entity} = Object.assign({},default${entity});
      }
    }
  }
</script>
<style>
</style>


