<template> 
  <${entity}-detail :is-edit='true'></${entity}-detail>
</template>
<script>
  import ${entity}Detail from './components/${entity}Detail'
  export default {
    name: 'update${entity}',
    components: { ${entity}Detail }
  }
</script>
<style>
</style>


